.socialMediaBlock{
     position: relative;
     width: 100%;
     height: 800px;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
}

.minCircle {
     position: absolute;
     left: -10px;
     top: 120px;
}
.minCircleTwo{
     position: absolute;
     top: 68px;
     left: 150px;
}

.minCircleThree{
     position: absolute;
     left: 330px;
     top:120px
}
.minCircleFor{
     position: absolute;
     left: 340px;
     top:470px
}


.minCircleFive{
     position: absolute;
     left: -20px;
     top:480px
}
.minCircleSix{
     position: absolute;
     left: -80px;
     top:290px
}

.minCircleSeven{
     position: absolute;
     left: 150px;
     top:540px
}

.minCircleEight{
     position: absolute;
     left: 390px;
     top:290px
}

.animationCurly{
     position: relative;
     width: 400px;
     height: 700px;
}


.circle{
     position: absolute;
     z-index: 1;
     width: 120px;
     height: 120px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #3ea2f4;
}


.line {
     fill: none;
     stroke: #fff;
     stroke-width: 1px;
     stroke-dasharray: 400;
     stroke-dashoffset: 400;
     animation: line-ani 5.5s forwards;
}


@keyframes line-ani {
     to {
          stroke-dashoffset: 0;
     }
}
@keyframes photo-ani {
     0% {
          opacity: 0;
     }
     50% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}



.minCircleIcons{
     position: relative;
     opacity: 0;
     margin:30px 0px 0px 20px;
     animation: icons 5.5s forwards;
     animation-delay: 1.5s;
}
@keyframes icons {
     0% {
          opacity: 0;
     }
     50% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}

.icons{
     width: 60px;
     height: 40px;
}
